[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "backbone"]
	path = backbone
	url = https://github.com/zpneal/backbone
[submodule "childfree"]
	path = childfree
	url = https://github.com/zpneal/childfree
[submodule "grand"]
	path = grand
	url = https://github.com/zpneal/grand
[submodule "incidentally"]
	path = incidentally
	url = https://github.com/zpneal/incidentally
